<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@700&display=swap">
    <link rel="stylesheet" href="~/assets/css/style.min.css" asp-append-version="true">

    @RenderSection("head", required: false)
</head>

<body>
    <div id="page-container">
        <div id="wrapper">
            <nav class="navbar navbar-expand-md navbar-light fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="~/">Stortford Archers <small></small></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                        <ul class="navbar-nav ml-auto">
                            @foreach (var item in (await WebApp.Site.Sitemap.ForUserAsync(User, Auth)).Where(i => !i.IsHidden))
                            {
                                <li class="nav-item@(item.Id == WebApp.PageId || item.HasChild(WebApp.PageId) ? " active" : "")">
                                    <a class="nav-link" href="@WebApp.Url(item)">@item.MenuTitle</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>

            @RenderBody()
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                @{
                    var currentSite = await WebApp.Site.GetContentAsync<SAC>();
                }
                @if (currentSite != null)
                {
                    <div class="row">
                        <div class="col-4" style="padding-top:10px;">
                            <div style="float:left; padding-right:10px">
                                <img src="@Url.Content(currentSite.FooterContents.Logo)" alt="Stortford Archery" style="width:60px; height: 60px;" />
                            </div>
                            <div style="float:left">
                                <div class="footer-title">Stortford Archery club</div>
                                <span>
                                    <a link href="https://www.facebook.com/groups/463588693666552/"><img src="/assets/facebook.png"  alt="facebook"  style="width:30px;"> </a>
                                </span>
                                <span>
                                    <img src="/assets/haa-transparent_d200.png"  alt="hart" style="width:50px;">
                                </span>

                            </div>
                        </div>

                        <div class="col-4" style="padding-top:10px;">
                            Archery <br />
                            A sport for all! <br />
                            <span> <a link href="https://scasarchery.org.uk/"> <img src="/assets/BowArrow.gif" alt="SCAS archery" style="width:90px; height:50px;"> </a> </span>
                            <span> <a link href="https://www.archerygb.org/"> <img src="/assets/ArcheryGB_d200.png" alt="Archery GB"  style="width:90px; height:50px;"> </a> </span>
                        </div>
                        <div class="col-4" style="padding-top:10px;">
                            @Html.Raw(currentSite.FooterContents.Text)
                        </div>
                    </div>
                }

            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
    </div>
</body>

</html>
