@using StortfordArchers.Models
@model CommitteeDetailsViewModel

@{
    ViewBag.Title = Model.CommitteeDetailsPage.Title;
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <h1 class="display-3">@Model.CommitteeDetailsPage.Title</h1>
        </div>
    </div>
    <div class="row">
        @foreach (CommitteeDetailsItem c in Model.CommitteeDetails)
        {
            <div class="col-sm-8">
                <a class="card-link" hreef="@c.PageUrl">
                    <div class="card border-dark">
                        <div class="card-body">
                            <div class="text-info">@c.Role</div>
                            <div class="text-info">@c.MemberName</div>
                            <div class="text-info">@c.Email</div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>